<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="background-color:#f3f3f3 !important;background-image:none !important;background-repeat:repeat !important;background-position:top left !important;background-attachment:scroll !important;" >

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>YoPlanner</title>

  <body style="width:100% !important;min-width:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;color:#0a0a0a;font-family:Helvetica, Arial, sans-serif;font-weight:normal;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;Margin:0;text-align:left;font-size:16px;line-height:1.3;" >
    <table class="body" data-made-with-foundation="" style="border-spacing:0;border-collapse:collapse;vertical-align:top;background-color:#f3f3f3 !important;background-image:none !important;background-repeat:repeat !important;background-position:top left !important;background-attachment:scroll !important;height:100%;width:100%;color:#0a0a0a;font-family:Helvetica, Arial, sans-serif;font-weight:normal;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;Margin:0;text-align:left;font-size:16px;line-height:1.3;" >
      <tr style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
        <td class="float-center" align="center" valign="top" style="word-wrap:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;border-collapse:collapse !important;vertical-align:top;color:#0a0a0a;font-family:Helvetica, Arial, sans-serif;font-weight:normal;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;font-size:16px;line-height:1.3;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;Margin:0 auto;float:none;text-align:center;" >
          <center data-parsed="" style="width:100%;min-width:580px;" >

            <table align="center" class="container float-center" style="border-spacing:0;border-collapse:collapse;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;background-color:#fefefe;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;width:580px;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;Margin:0 auto;float:none;text-align:center;" >
              <tbody>
                <tr style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                  <td style="word-wrap:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;border-collapse:collapse !important;vertical-align:top;color:#0a0a0a;font-family:Helvetica, Arial, sans-serif;font-weight:normal;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;Margin:0;text-align:left;font-size:16px;line-height:1.3;" >
                    <table class="row" style="margin-top:1em;border-spacing:0;border-collapse:collapse;vertical-align:top;text-align:left;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;width:100%;position:relative;display:table;" >
                      <tbody>
                        <tr style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                          <th class="small-12 large-4 columns first" style="color:#0a0a0a;font-family:Helvetica, Arial, sans-serif;font-weight:normal;padding-top:0;text-align:left;font-size:16px;line-height:1.3;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;Margin:0 auto;padding-bottom:16px;width:177.33333px;padding-left:8px;padding-right:8px;" >
                            <table style="border-spacing:0;border-collapse:collapse;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                              <tr style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                                <th style="color:#0a0a0a;font-family:Helvetica, Arial, sans-serif;font-weight:normal;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;Margin:0;text-align:left;font-size:16px;line-height:1.3;" >
                                  <center data-parsed="" style="width:100%;min-width:145.33333px;" ><img src="<%= logo %>" alt="Logo" title="Logo" align="center" class="float-center" style="width:100px;height:100px;outline-style:none;text-decoration:none;-ms-interpolation-mode:bicubic;max-width:100%;clear:both;display:block;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;Margin:0 auto;float:none;text-align:center;" ></center>
                                </th>
                              </tr>
                            </table>
                          </th>
                          <th class="small-12 large-8 columns last" style="color:#0a0a0a;font-family:Helvetica, Arial, sans-serif;font-weight:normal;padding-top:0;text-align:left;font-size:16px;line-height:1.3;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;Margin:0 auto;padding-bottom:16px;width:370.66667px;padding-left:8px;padding-right:8px;" >
                            <table style="border-spacing:0;border-collapse:collapse;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                              <tr style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                                <th style="color:#0a0a0a;font-family:Helvetica, Arial, sans-serif;font-weight:normal;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;Margin:0;text-align:left;font-size:16px;line-height:1.3;" >
                                  <h1 style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-right:0;margin-left:0;Margin:0;text-align:left;line-height:1.3;color:inherit;word-wrap:normal;font-family:Helvetica, Arial, sans-serif;font-weight:normal;margin-bottom:10px;Margin-bottom:10px;font-size:34px;" >Solicitud de <b>COTIZACIÓN</b>.</h1>
                                </th>
                              </tr>
                            </table>
                          </th>
                        </tr>
                      </tbody>
                    </table>
                    <table class="spacer" style="border-spacing:0;border-collapse:collapse;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;width:100%;" >
                      <tbody>
                        <tr style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                          <td height="16px" style="font-size:16px;line-height:16px;word-wrap:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;border-collapse:collapse !important;vertical-align:top;color:#0a0a0a;font-family:Helvetica, Arial, sans-serif;font-weight:normal;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;Margin:0;text-align:left;mso-line-height-rule:exactly;" >&#xA0;</td>
                        </tr>
                      </tbody>
                    </table>
                    <table class="row" style="border-spacing:0;border-collapse:collapse;vertical-align:top;text-align:left;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;width:100%;position:relative;display:table;" >
                      <tbody>
                        <tr style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                          <th class="small-12 large-12 columns first last" style="color:#0a0a0a;font-family:Helvetica, Arial, sans-serif;font-weight:normal;padding-top:0;text-align:left;font-size:16px;line-height:1.3;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;Margin:0 auto;padding-bottom:16px;width:564px;padding-left:8px;padding-right:8px;" >
                            <table style="border-spacing:0;border-collapse:collapse;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                              <tr style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                                <th style="color:#0a0a0a;font-family:Helvetica, Arial, sans-serif;font-weight:normal;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;Margin:0;text-align:left;font-size:16px;line-height:1.3;" >
                                  <h3 class="text-center title-box" style="margin-top:0;margin-right:0;margin-left:0;Margin:0;line-height:1.3;word-wrap:normal;font-family:Helvetica, Arial, sans-serif;font-weight:normal;margin-bottom:10px;Margin-bottom:10px;border-radius:10px;background-color:rgb(0, 162, 222);padding-top:5px;padding-bottom:5px;padding-right:5px;padding-left:5px;color:rgb(64, 64, 64);font-size:20px;text-align:center;" >Datos del <b>GRUPO</b></h3>
                                </th>
                                <th class="expander" style="color:#0a0a0a;font-family:Helvetica, Arial, sans-serif;font-weight:normal;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;Margin:0;text-align:left;font-size:16px;line-height:1.3;visibility:hidden;width:0;padding-top:0 !important;padding-bottom:0 !important;padding-right:0 !important;padding-left:0 !important;" ></th>
                              </tr>
                            </table>
                          </th>
                        </tr>
                      </tbody>
                    </table>
                    <table class="row" style="border-spacing:0;border-collapse:collapse;vertical-align:top;text-align:left;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;width:100%;position:relative;display:table;" >
                      <tbody>
                        <tr style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                          <th class="small-12 large-6 columns first" style="color:#0a0a0a;font-family:Helvetica, Arial, sans-serif;font-weight:normal;padding-top:0;text-align:left;font-size:16px;line-height:1.3;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;Margin:0 auto;padding-bottom:16px;width:274px;padding-left:8px;padding-right:8px;" >
                            <table style="border-spacing:0;border-collapse:collapse;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                              <tr style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                                <th style="color:#0a0a0a;font-family:Helvetica, Arial, sans-serif;font-weight:normal;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;Margin:0;text-align:left;font-size:16px;line-height:1.3;" >
                                  <h5 class="text-center field-title" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-right:0;margin-left:0;Margin:0;line-height:1.3;word-wrap:normal;font-family:Helvetica, Arial, sans-serif;font-weight:normal;margin-bottom:10px;Margin-bottom:10px;color:rgb(96, 96, 96);font-size:1em;text-align:center;" ><b>Nombre</b></h5>
                                  <p class="text-center border-field" style="color:#0a0a0a;font-family:Helvetica, Arial, sans-serif;font-weight:normal;margin-top:0;margin-right:0;margin-left:0;Margin:0;font-size:16px;line-height:1.3;margin-bottom:10px;Margin-bottom:10px;box-sizing:border-box;padding-top:5px;padding-bottom:5px;padding-right:5px;padding-left:5px;border-width:1px;border-style:solid;border-color:rgb(158, 158, 158);border-radius:5px;text-align:center;" ><%= rfp.nombre %></p>
                                </th>
                              </tr>
                            </table>
                          </th>
                          <th class="small-12 large-6 columns" style="color:#0a0a0a;font-family:Helvetica, Arial, sans-serif;font-weight:normal;padding-top:0;text-align:left;font-size:16px;line-height:1.3;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;Margin:0 auto;padding-bottom:16px;width:274px;padding-left:8px;padding-right:8px;" >
                            <table style="border-spacing:0;border-collapse:collapse;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                              <tr style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                                <th style="color:#0a0a0a;font-family:Helvetica, Arial, sans-serif;font-weight:normal;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;Margin:0;text-align:left;font-size:16px;line-height:1.3;" >
                                  <h5 class="text-center field-title" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-right:0;margin-left:0;Margin:0;line-height:1.3;word-wrap:normal;font-family:Helvetica, Arial, sans-serif;font-weight:normal;margin-bottom:10px;Margin-bottom:10px;color:rgb(96, 96, 96);font-size:1em;text-align:center;" ><b>Fecha de entrada</b></h5>
                                  <p class="text-center border-field" style="color:#0a0a0a;font-family:Helvetica, Arial, sans-serif;font-weight:normal;margin-top:0;margin-right:0;margin-left:0;Margin:0;font-size:16px;line-height:1.3;margin-bottom:10px;Margin-bottom:10px;box-sizing:border-box;padding-top:5px;padding-bottom:5px;padding-right:5px;padding-left:5px;border-width:1px;border-style:solid;border-color:rgb(158, 158, 158);border-radius:5px;text-align:center;" ><%= moment(rfp.fechaInicial).format('DD/MM/YYYY') %></p>
                                </th>
                              </tr>
                            </table>
                          </th>
                        </tr>
                      </tbody>
                    </table>
                    <table class="row" style="border-spacing:0;border-collapse:collapse;vertical-align:top;text-align:left;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;width:100%;position:relative;display:table;" >
                      <tbody>
                        <tr style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                          <th class="small-12 large-6 columns" style="color:#0a0a0a;font-family:Helvetica, Arial, sans-serif;font-weight:normal;padding-top:0;text-align:left;font-size:16px;line-height:1.3;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;Margin:0 auto;padding-bottom:16px;width:274px;padding-left:8px;padding-right:8px;" >
                            <table style="border-spacing:0;border-collapse:collapse;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                              <tr style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                                <th style="color:#0a0a0a;font-family:Helvetica, Arial, sans-serif;font-weight:normal;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;Margin:0;text-align:left;font-size:16px;line-height:1.3;" >
                                  <h5 class="text-center field-title" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-right:0;margin-left:0;Margin:0;line-height:1.3;word-wrap:normal;font-family:Helvetica, Arial, sans-serif;font-weight:normal;margin-bottom:10px;Margin-bottom:10px;color:rgb(96, 96, 96);font-size:1em;text-align:center;" ><b>Fecha de salida</b></h5>
                                  <p class="text-center border-field" style="color:#0a0a0a;font-family:Helvetica, Arial, sans-serif;font-weight:normal;margin-top:0;margin-right:0;margin-left:0;Margin:0;font-size:16px;line-height:1.3;margin-bottom:10px;Margin-bottom:10px;box-sizing:border-box;padding-top:5px;padding-bottom:5px;padding-right:5px;padding-left:5px;border-width:1px;border-style:solid;border-color:rgb(158, 158, 158);border-radius:5px;text-align:center;" ><%= moment(rfp.fechaFinal).format('DD/MM/YYYY') %></p>
                                </th>
                              </tr>
                            </table>
                          </th>
                          <th class="small-12 large-6 columns last" style="color:#0a0a0a;font-family:Helvetica, Arial, sans-serif;font-weight:normal;padding-top:0;text-align:left;font-size:16px;line-height:1.3;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;Margin:0 auto;padding-bottom:16px;width:274px;padding-left:8px;padding-right:8px;" >
                            <table style="border-spacing:0;border-collapse:collapse;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                              <tr style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                                <th style="color:#0a0a0a;font-family:Helvetica, Arial, sans-serif;font-weight:normal;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;Margin:0;text-align:left;font-size:16px;line-height:1.3;" >
                                  <h5 class="text-center field-title" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-right:0;margin-left:0;Margin:0;line-height:1.3;word-wrap:normal;font-family:Helvetica, Arial, sans-serif;font-weight:normal;margin-bottom:10px;Margin-bottom:10px;color:rgb(96, 96, 96);font-size:1em;text-align:center;" ><b>Asistentes</b></h5>
                                  <p class="text-center border-field" style="color:#0a0a0a;font-family:Helvetica, Arial, sans-serif;font-weight:normal;margin-top:0;margin-right:0;margin-left:0;Margin:0;font-size:16px;line-height:1.3;margin-bottom:10px;Margin-bottom:10px;box-sizing:border-box;padding-top:5px;padding-bottom:5px;padding-right:5px;padding-left:5px;border-width:1px;border-style:solid;border-color:rgb(158, 158, 158);border-radius:5px;text-align:center;" ><%= rfp.asistenciaEsperada %></p>
                                </th>
                              </tr>
                            </table>
                          </th>
                        </tr>
                      </tbody>
                    </table>
                    <table class="row" style="border-spacing:0;border-collapse:collapse;vertical-align:top;text-align:left;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;width:100%;position:relative;display:table;" >
                      <tbody>
                        <tr style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                          <th class="small-12 large-4 columns last" style="color:#0a0a0a;font-family:Helvetica, Arial, sans-serif;font-weight:normal;padding-top:0;text-align:left;font-size:16px;line-height:1.3;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;Margin:0 auto;padding-bottom:16px;width:177.33333px;padding-left:8px;padding-right:8px;" >
                            <table style="border-spacing:0;border-collapse:collapse;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                              <tr style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                                <th style="color:#0a0a0a;font-family:Helvetica, Arial, sans-serif;font-weight:normal;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;Margin:0;text-align:left;font-size:16px;line-height:1.3;" >
                                  <h5 class="text-center field-title" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-right:0;margin-left:0;Margin:0;line-height:1.3;word-wrap:normal;font-family:Helvetica, Arial, sans-serif;font-weight:normal;margin-bottom:10px;Margin-bottom:10px;color:rgb(96, 96, 96);font-size:1em;text-align:center;" ><b>Hab. Sencillas</b></h5>
                                  <table class="tabla-eventos" style="border-spacing:0;border-collapse:collapse;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;box-sizing:border-box;" >
                                    <tr class="header-tabla" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;background-color:rgb(220, 224, 25);" >
                                      <th style="font-family:Helvetica, Arial, sans-serif;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;Margin:0;text-align:left;font-size:16px;line-height:1.3;color:white;padding-top:5px;padding-bottom:5px;padding-right:5px;padding-left:5px;font-weight:bold;" >Fecha</th>
                                      <th style="font-family:Helvetica, Arial, sans-serif;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;Margin:0;text-align:left;font-size:16px;line-height:1.3;color:white;padding-top:5px;padding-bottom:5px;padding-right:5px;padding-left:5px;font-weight:bold;" >Cantidad</th>
                                    </tr>
                                    <% for (var i = 0; i < rfp.configuracionHabitaciones.length; i++) {
                                      if (rfp.configuracionHabitaciones[i].tipoHabitacion == 1) { %>
                                        <tr class="hotel-tabla" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                                          <td style="word-wrap:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;border-collapse:collapse !important;vertical-align:top;font-family:Helvetica, Arial, sans-serif;font-weight:normal;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;Margin:0;text-align:left;font-size:16px;line-height:1.3;padding-top:5px;padding-bottom:5px;padding-right:5px;padding-left:5px;color:rgb(97, 97, 97);" ><%= moment(rfp.configuracionHabitaciones[i].fecha).format('DD/MM') %></td>
                                          <td style="word-wrap:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;border-collapse:collapse !important;vertical-align:top;font-family:Helvetica, Arial, sans-serif;font-weight:normal;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;Margin:0;text-align:left;font-size:16px;line-height:1.3;padding-top:5px;padding-bottom:5px;padding-right:5px;padding-left:5px;color:rgb(97, 97, 97);" ><%= rfp.configuracionHabitaciones[i].habitaciones %></td>
                                        </tr>
                                      <% }
                                    } %>
                                  </table>
                                </th>
                              </tr>
                            </table>
                          </th>
                          <th class="small-12 large-4 columns last" style="color:#0a0a0a;font-family:Helvetica, Arial, sans-serif;font-weight:normal;padding-top:0;text-align:left;font-size:16px;line-height:1.3;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;Margin:0 auto;padding-bottom:16px;width:177.33333px;padding-left:8px;padding-right:8px;" >
                            <table style="border-spacing:0;border-collapse:collapse;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                              <tr style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                                <th style="color:#0a0a0a;font-family:Helvetica, Arial, sans-serif;font-weight:normal;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;Margin:0;text-align:left;font-size:16px;line-height:1.3;" >
                                  <h5 class="text-center field-title" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-right:0;margin-left:0;Margin:0;line-height:1.3;word-wrap:normal;font-family:Helvetica, Arial, sans-serif;font-weight:normal;margin-bottom:10px;Margin-bottom:10px;color:rgb(96, 96, 96);font-size:1em;text-align:center;" ><b>Hab. Dobles</b></h5>
                                  <table class="tabla-eventos" style="border-spacing:0;border-collapse:collapse;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;box-sizing:border-box;" >
                                    <tr class="header-tabla" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;background-color:rgb(220, 224, 25);" >
                                      <th style="font-family:Helvetica, Arial, sans-serif;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;Margin:0;text-align:left;font-size:16px;line-height:1.3;color:white;padding-top:5px;padding-bottom:5px;padding-right:5px;padding-left:5px;font-weight:bold;" >Fecha</th>
                                      <th style="font-family:Helvetica, Arial, sans-serif;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;Margin:0;text-align:left;font-size:16px;line-height:1.3;color:white;padding-top:5px;padding-bottom:5px;padding-right:5px;padding-left:5px;font-weight:bold;" >Cantidad</th>
                                    </tr>
                                    <% for (var i = 0; i < rfp.configuracionHabitaciones.length; i++) {
                                      if (rfp.configuracionHabitaciones[i].tipoHabitacion == 2) { %>
                                        <tr class="hotel-tabla" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                                          <td style="word-wrap:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;border-collapse:collapse !important;vertical-align:top;font-family:Helvetica, Arial, sans-serif;font-weight:normal;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;Margin:0;text-align:left;font-size:16px;line-height:1.3;padding-top:5px;padding-bottom:5px;padding-right:5px;padding-left:5px;color:rgb(97, 97, 97);" ><%= moment(rfp.configuracionHabitaciones[i].fecha).format('DD/MM') %></td>
                                          <td style="word-wrap:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;border-collapse:collapse !important;vertical-align:top;font-family:Helvetica, Arial, sans-serif;font-weight:normal;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;Margin:0;text-align:left;font-size:16px;line-height:1.3;padding-top:5px;padding-bottom:5px;padding-right:5px;padding-left:5px;color:rgb(97, 97, 97);" ><%= rfp.configuracionHabitaciones[i].habitaciones %></td>
                                        </tr>
                                      <% }
                                    } %>
                                  </table>
                                </th>
                              </tr>
                            </table>
                          </th>
                        </tr>
                      </tbody>
                    </table>
                    <table class="row" style="border-spacing:0;border-collapse:collapse;vertical-align:top;text-align:left;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;width:100%;position:relative;display:table;" >
                      <tbody>
                        <tr style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                          <th class="small-12 large-6 columns" style="color:#0a0a0a;font-family:Helvetica, Arial, sans-serif;font-weight:normal;padding-top:0;text-align:left;font-size:16px;line-height:1.3;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;Margin:0 auto;padding-bottom:16px;width:274px;padding-left:8px;padding-right:8px;" >
                            <table style="border-spacing:0;border-collapse:collapse;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                              <tr style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                                <th style="color:#0a0a0a;font-family:Helvetica, Arial, sans-serif;font-weight:normal;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;Margin:0;text-align:left;font-size:16px;line-height:1.3;" >
                                  <h5 class="text-center field-title" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-right:0;margin-left:0;Margin:0;line-height:1.3;word-wrap:normal;font-family:Helvetica, Arial, sans-serif;font-weight:normal;margin-bottom:10px;Margin-bottom:10px;color:rgb(96, 96, 96);font-size:1em;text-align:center;" ><b>Comentarios</b></h5>
                                  <p class="text-center border-field" style="color:#0a0a0a;font-family:Helvetica, Arial, sans-serif;font-weight:normal;margin-top:0;margin-right:0;margin-left:0;Margin:0;font-size:16px;line-height:1.3;margin-bottom:10px;Margin-bottom:10px;box-sizing:border-box;padding-top:5px;padding-bottom:5px;padding-right:5px;padding-left:5px;border-width:1px;border-style:solid;border-color:rgb(158, 158, 158);border-radius:5px;text-align:center;" ><%= rfp.comentarios %></p>
                                </th>
                              </tr>
                            </table>
                          </th>
                        </tr>
                      </tbody>
                    </table>
                    <table class="spacer" style="border-spacing:0;border-collapse:collapse;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;width:100%;" >
                      <tbody>
                        <tr style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                          <td height="16px" style="font-size:16px;line-height:16px;word-wrap:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;border-collapse:collapse !important;vertical-align:top;color:#0a0a0a;font-family:Helvetica, Arial, sans-serif;font-weight:normal;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;Margin:0;text-align:left;mso-line-height-rule:exactly;" >&#xA0;</td>
                        </tr>
                      </tbody>
                    </table>
                    <table class="row" style="border-spacing:0;border-collapse:collapse;vertical-align:top;text-align:left;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;width:100%;position:relative;display:table;" >
                      <tbody>
                        <tr style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                          <th class="small-12 large-12 columns first last" style="color:#0a0a0a;font-family:Helvetica, Arial, sans-serif;font-weight:normal;padding-top:0;text-align:left;font-size:16px;line-height:1.3;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;Margin:0 auto;padding-bottom:16px;width:564px;padding-left:8px;padding-right:8px;" >
                            <table style="border-spacing:0;border-collapse:collapse;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                              <tr style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                                <th style="color:#0a0a0a;font-family:Helvetica, Arial, sans-serif;font-weight:normal;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;Margin:0;text-align:left;font-size:16px;line-height:1.3;" >
                                  <h3 class="text-center title-box" style="margin-top:0;margin-right:0;margin-left:0;Margin:0;line-height:1.3;word-wrap:normal;font-family:Helvetica, Arial, sans-serif;font-weight:normal;margin-bottom:10px;Margin-bottom:10px;border-radius:10px;background-color:rgb(0, 162, 222);padding-top:5px;padding-bottom:5px;padding-right:5px;padding-left:5px;color:rgb(64, 64, 64);font-size:20px;text-align:center;" ><b>Eventos</b></h3>
                                </th>
                                <th class="expander" style="color:#0a0a0a;font-family:Helvetica, Arial, sans-serif;font-weight:normal;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;Margin:0;text-align:left;font-size:16px;line-height:1.3;visibility:hidden;width:0;padding-top:0 !important;padding-bottom:0 !important;padding-right:0 !important;padding-left:0 !important;" ></th>
                              </tr>
                            </table>
                          </th>
                        </tr>
                      </tbody>
                    </table>
                    <table class="row" style="border-spacing:0;border-collapse:collapse;vertical-align:top;text-align:left;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;width:100%;position:relative;display:table;" >
                      <tbody>
                        <tr style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                          <th class="small-12 large-12 columns first last" style="color:#0a0a0a;font-family:Helvetica, Arial, sans-serif;font-weight:normal;padding-top:0;text-align:left;font-size:16px;line-height:1.3;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;Margin:0 auto;padding-bottom:16px;width:564px;padding-left:8px;padding-right:8px;" >
                            <table style="border-spacing:0;border-collapse:collapse;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                              <tr style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                                <th style="color:#0a0a0a;font-family:Helvetica, Arial, sans-serif;font-weight:normal;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;Margin:0;text-align:left;font-size:16px;line-height:1.3;" >
                                  <table class="spacer" style="border-spacing:0;border-collapse:collapse;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;width:100%;" >
                                    <tbody>
                                      <tr style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                                        <td height="16px" style="font-size:16px;line-height:16px;word-wrap:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;border-collapse:collapse !important;vertical-align:top;color:#0a0a0a;font-family:Helvetica, Arial, sans-serif;font-weight:normal;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;Margin:0;text-align:left;mso-line-height-rule:exactly;" >&#xA0;</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <table class="tabla-eventos" style="border-spacing:0;border-collapse:collapse;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;box-sizing:border-box;" >
                                    <tr class="header-tabla" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;background-color:rgb(220, 224, 25);" >
                                      <th style="font-family:Helvetica, Arial, sans-serif;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;Margin:0;text-align:left;font-size:16px;line-height:1.3;color:white;padding-top:5px;padding-bottom:5px;padding-right:5px;padding-left:5px;font-weight:bold;" >Nombre</th>
                                      <th style="font-family:Helvetica, Arial, sans-serif;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;Margin:0;text-align:left;font-size:16px;line-height:1.3;color:white;padding-top:5px;padding-bottom:5px;padding-right:5px;padding-left:5px;font-weight:bold;" >Fecha</th>
                                      <th style="font-family:Helvetica, Arial, sans-serif;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;Margin:0;text-align:left;font-size:16px;line-height:1.3;color:white;padding-top:5px;padding-bottom:5px;padding-right:5px;padding-left:5px;font-weight:bold;" >Horario</th>
                                      <th style="font-family:Helvetica, Arial, sans-serif;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;Margin:0;text-align:left;font-size:16px;line-height:1.3;color:white;padding-top:5px;padding-bottom:5px;padding-right:5px;padding-left:5px;font-weight:bold;" >Asistencia</th>
                                      <th style="font-family:Helvetica, Arial, sans-serif;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;Margin:0;text-align:left;font-size:16px;line-height:1.3;color:white;padding-top:5px;padding-bottom:5px;padding-right:5px;padding-left:5px;font-weight:bold;" >Tipo</th>
                                      <th style="font-family:Helvetica, Arial, sans-serif;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;Margin:0;text-align:left;font-size:16px;line-height:1.3;color:white;padding-top:5px;padding-bottom:5px;padding-right:5px;padding-left:5px;font-weight:bold;" >Montaje</th>
                                    </tr>

                                    <% for (var i = 0; i < rfp.salones.length; i++) { %>
                                      <tr class="evento-tabla" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;background-color:rgb(221, 221, 221);" >
                                        <td style="word-wrap:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;border-collapse:collapse !important;vertical-align:top;font-family:Helvetica, Arial, sans-serif;font-weight:normal;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;Margin:0;text-align:left;font-size:16px;line-height:1.3;padding-top:5px;padding-bottom:5px;padding-right:5px;padding-left:5px;color:rgb(97, 97, 97);" ><%= rfp.salones[i].nombreEvento %></td>
                                        <td style="word-wrap:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;border-collapse:collapse !important;vertical-align:top;font-family:Helvetica, Arial, sans-serif;font-weight:normal;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;Margin:0;text-align:left;font-size:16px;line-height:1.3;padding-top:5px;padding-bottom:5px;padding-right:5px;padding-left:5px;color:rgb(97, 97, 97);" ><%= moment(rfp.salones[i].fecha).format('DD/MM/YYYY') %></td>
                                        <td style="word-wrap:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;border-collapse:collapse !important;vertical-align:top;font-family:Helvetica, Arial, sans-serif;font-weight:normal;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;Margin:0;text-align:left;font-size:16px;line-height:1.3;padding-top:5px;padding-bottom:5px;padding-right:5px;padding-left:5px;color:rgb(97, 97, 97);" ><%= rfp.salones[i].horaInicio %>-<%= rfp.salones[i].horaFin %></td>
                                        <td style="word-wrap:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;border-collapse:collapse !important;vertical-align:top;font-family:Helvetica, Arial, sans-serif;font-weight:normal;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;Margin:0;text-align:left;font-size:16px;line-height:1.3;padding-top:5px;padding-bottom:5px;padding-right:5px;padding-left:5px;color:rgb(97, 97, 97);" ><%= rfp.salones[i].asistentes %></td>
                                        <td style="word-wrap:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;border-collapse:collapse !important;vertical-align:top;font-family:Helvetica, Arial, sans-serif;font-weight:normal;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;Margin:0;text-align:left;font-size:16px;line-height:1.3;padding-top:5px;padding-bottom:5px;padding-right:5px;padding-left:5px;color:rgb(97, 97, 97);" >
                                          <% if (rfp.salones[i].tipoEvento == 1) { %>
                        										<span>Desayuno</span>
                        									<% }
                        									if (rfp.salones[i].tipoEvento == 2) { %>
                        										<span>Comida</span>
                        									<% }
                        									if (rfp.salones[i].tipoEvento == 3) { %>
                        										<span>Cena</span>
                        									<% }
                        									if (rfp.salones[i].tipoEvento == 4) { %>
                        										<span>Cocktail</span>
                        									<% }
                        									if (rfp.salones[i].tipoEvento == 5) { %>
                        										<span>Sesión</span>
                        									<% }
                        									if (rfp.salones[i].tipoEvento == 6) { %>
                        										<span>Breakout</span>
                        									<% }
                        									if (rfp.salones[i].tipoEvento == 7) { %>
                        										<span>Oficina</span>
                        									<% }
                        									if (rfp.salones[i].tipoEvento == 8) { %>
                        										<span>Bodega</span>
                        									<% }
                        									if (rfp.salones[i].tipoEvento == 9) { %>
                        										<span>Otro</span>
                        									<% } %>
                                        </td>
                                        <td style="word-wrap:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;border-collapse:collapse !important;vertical-align:top;font-family:Helvetica, Arial, sans-serif;font-weight:normal;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;Margin:0;text-align:left;font-size:16px;line-height:1.3;padding-top:5px;padding-bottom:5px;padding-right:5px;padding-left:5px;color:rgb(97, 97, 97);" >
                                          <% if (rfp.salones[i].tipoSalon == 1) { %>
                        										<span>Auditorios</span>
                        									<% }
                        									if (rfp.salones[i].tipoSalon == 2) { %>
                        										<span>Banquete</span>
                        									<% }
                        									if (rfp.salones[i].tipoSalon == 3) { %>
                        										<span>Coctel</span>
                        									<% }
                        									if (rfp.salones[i].tipoSalon == 4) { %>
                        										<span>Escuela</span>
                        									<% }
                        									if (rfp.salones[i].tipoSalon == 5) { %>
                        										<span>Herradura</span>
                        									<% }
                        									if (rfp.salones[i].tipoSalon == 6) { %>
                        										<span>Imperial</span>
                        									<% }
                        									if (rfp.salones[i].tipoSalon == 7) { %>
                        										<span>Mesas Redondas</span>
                        									<% }
                        									if (rfp.salones[i].tipoSalon == 8) { %>
                        										<span>Medias Lunas</span>
                        									<% }
                        									if (rfp.salones[i].tipoSalon == 9) { %>
                        										<span>Otro</span>
                        									<% } %>
                                        </td>
                                      </tr>
                                    <tr class="comentario-evento" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;background-color:rgb(235, 235, 235);" >
                                      <td colspan="5" style="word-wrap:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;border-collapse:collapse !important;vertical-align:top;font-family:Helvetica, Arial, sans-serif;font-weight:normal;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;Margin:0;text-align:left;font-size:16px;line-height:1.3;padding-top:5px;padding-bottom:5px;padding-right:5px;padding-left:5px;color:rgb(97, 97, 97);" >
                                        <b>Comentarios: </b>
                                        <%= rfp.salones[i].comentarios %>
                                      </td>
                                    </tr>
                                    <tr style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                                      <td  colspan="5" style="text-align:center;word-wrap:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;border-collapse:collapse !important;vertical-align:top;color:#0a0a0a;font-family:Helvetica, Arial, sans-serif;font-weight:normal;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;Margin:0;font-size:16px;line-height:1.3;" >
                                        &nbsp;
                                      </td>
                                    </tr>
                                    <% } %>
                                  </table>
                                </th>
                              </tr>
                            </table>
                          </th>
                        </tr>
                      </tbody>
                    </table>
                    <table class="row" style="margin-top:1em;border-spacing:0;border-collapse:collapse;vertical-align:top;text-align:left;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;width:100%;position:relative;display:table;" >
                      <tbody>
                        <tr style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                          <th class="small-12 large-12 columns first last" style="color:#0a0a0a;font-family:Helvetica, Arial, sans-serif;font-weight:normal;padding-top:0;text-align:left;font-size:16px;line-height:1.3;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;Margin:0 auto;padding-bottom:16px;width:564px;padding-left:8px;padding-right:8px;" >
                            <table style="border-spacing:0;border-collapse:collapse;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                              <tr style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                                <th style="color:#0a0a0a;font-family:Helvetica, Arial, sans-serif;font-weight:normal;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;Margin:0;text-align:left;font-size:16px;line-height:1.3;" >
                                  <h3 class="text-center title-box" style="margin-top:0;margin-right:0;margin-left:0;Margin:0;line-height:1.3;word-wrap:normal;font-family:Helvetica, Arial, sans-serif;font-weight:normal;margin-bottom:10px;Margin-bottom:10px;border-radius:10px;background-color:rgb(0, 162, 222);padding-top:5px;padding-bottom:5px;padding-right:5px;padding-left:5px;color:rgb(64, 64, 64);font-size:20px;text-align:center;" >Selección de <b>Hoteles</b></h3>
                                </th>
                                <th class="expander" style="color:#0a0a0a;font-family:Helvetica, Arial, sans-serif;font-weight:normal;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;Margin:0;text-align:left;font-size:16px;line-height:1.3;visibility:hidden;width:0;padding-top:0 !important;padding-bottom:0 !important;padding-right:0 !important;padding-left:0 !important;" ></th>
                              </tr>
                            </table>
                          </th>
                        </tr>
                      </tbody>
                    </table>
                    <table class="row" style="border-spacing:0;border-collapse:collapse;vertical-align:top;text-align:left;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;width:100%;position:relative;display:table;" >
                      <tbody>
                        <tr style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                          <th class="small-12 large-12 columns first last" style="color:#0a0a0a;font-family:Helvetica, Arial, sans-serif;font-weight:normal;padding-top:0;text-align:left;font-size:16px;line-height:1.3;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;Margin:0 auto;padding-bottom:16px;width:564px;padding-left:8px;padding-right:8px;" >
                            <table style="border-spacing:0;border-collapse:collapse;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                              <tr style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                                <th style="color:#0a0a0a;font-family:Helvetica, Arial, sans-serif;font-weight:normal;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;Margin:0;text-align:left;font-size:16px;line-height:1.3;" >
                                  <table class="tabla-eventos" style="border-spacing:0;border-collapse:collapse;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;box-sizing:border-box;" >
                                    <tr class="header-tabla" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;background-color:rgb(220, 224, 25);" >
                                      <th style="font-family:Helvetica, Arial, sans-serif;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;Margin:0;text-align:left;font-size:16px;line-height:1.3;color:white;padding-top:5px;padding-bottom:5px;padding-right:5px;padding-left:5px;font-weight:bold;" >#</th>
                                      <th style="font-family:Helvetica, Arial, sans-serif;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;Margin:0;text-align:left;font-size:16px;line-height:1.3;color:white;padding-top:5px;padding-bottom:5px;padding-right:5px;padding-left:5px;font-weight:bold;" >Nombre</th>
                                    </tr>
                                    <% for (var i = 0; i < rfp.recintos.length; i++) { %>
                                      <tr class="hotel-tabla" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                                        <td style="word-wrap:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;border-collapse:collapse !important;vertical-align:top;font-family:Helvetica, Arial, sans-serif;font-weight:normal;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;Margin:0;text-align:left;font-size:16px;line-height:1.3;padding-top:5px;padding-bottom:5px;padding-right:5px;padding-left:5px;color:rgb(97, 97, 97);" >#<%= i+1 %></td>
                                        <td style="word-wrap:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;border-collapse:collapse !important;vertical-align:top;font-family:Helvetica, Arial, sans-serif;font-weight:normal;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;Margin:0;text-align:left;font-size:16px;line-height:1.3;padding-top:5px;padding-bottom:5px;padding-right:5px;padding-left:5px;color:rgb(97, 97, 97);" ><%= rfp.recintos[i].name %></td>
                                      </tr>
                                    <% } %>
                                  </table>
                                </th>
                              </tr>
                            </table>
                          </th>
                        </tr>
                      </tbody>
                    </table>
                    <table class="row" style="margin-top:1em;border-spacing:0;border-collapse:collapse;vertical-align:top;text-align:left;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;width:100%;position:relative;display:table;" >
                      <tbody>
                        <tr style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                          <th class="small-12 large-12 columns first last" style="color:#0a0a0a;font-family:Helvetica, Arial, sans-serif;font-weight:normal;padding-top:0;text-align:left;font-size:16px;line-height:1.3;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;Margin:0 auto;padding-bottom:16px;width:564px;padding-left:8px;padding-right:8px;" >
                            <table style="border-spacing:0;border-collapse:collapse;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                              <tr style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                                <th style="color:#0a0a0a;font-family:Helvetica, Arial, sans-serif;font-weight:normal;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;Margin:0;text-align:left;font-size:16px;line-height:1.3;" >
                                  <h3 class="text-center title-box" style="margin-top:0;margin-right:0;margin-left:0;Margin:0;line-height:1.3;word-wrap:normal;font-family:Helvetica, Arial, sans-serif;font-weight:normal;margin-bottom:10px;Margin-bottom:10px;border-radius:10px;background-color:rgb(0, 162, 222);padding-top:5px;padding-bottom:5px;padding-right:5px;padding-left:5px;color:rgb(64, 64, 64);font-size:20px;text-align:center;" >Datos del <b>CLIENTE</b></h3>
                                </th>
                                <th class="expander" style="color:#0a0a0a;font-family:Helvetica, Arial, sans-serif;font-weight:normal;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;Margin:0;text-align:left;font-size:16px;line-height:1.3;visibility:hidden;width:0;padding-top:0 !important;padding-bottom:0 !important;padding-right:0 !important;padding-left:0 !important;" ></th>
                              </tr>
                            </table>
                          </th>
                        </tr>
                      </tbody>
                    </table>
                    <table class="row" style="border-spacing:0;border-collapse:collapse;vertical-align:top;text-align:left;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;width:100%;position:relative;display:table;" >
                      <tbody>
                        <tr style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                          <th class="small-12 large-6 columns first" style="color:#0a0a0a;font-family:Helvetica, Arial, sans-serif;font-weight:normal;padding-top:0;text-align:left;font-size:16px;line-height:1.3;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;Margin:0 auto;padding-bottom:16px;width:274px;padding-left:8px;padding-right:8px;" >
                            <table style="border-spacing:0;border-collapse:collapse;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                              <tr style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                                <th style="color:#0a0a0a;font-family:Helvetica, Arial, sans-serif;font-weight:normal;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;Margin:0;text-align:left;font-size:16px;line-height:1.3;" >
                                  <h5 class="text-center field-title" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-right:0;margin-left:0;Margin:0;line-height:1.3;word-wrap:normal;font-family:Helvetica, Arial, sans-serif;font-weight:normal;margin-bottom:10px;Margin-bottom:10px;color:rgb(96, 96, 96);font-size:1em;text-align:center;" ><b>Nombre</b></h5>
                                  <p class="text-center border-field" style="color:#0a0a0a;font-family:Helvetica, Arial, sans-serif;font-weight:normal;margin-top:0;margin-right:0;margin-left:0;Margin:0;font-size:16px;line-height:1.3;margin-bottom:10px;Margin-bottom:10px;box-sizing:border-box;padding-top:5px;padding-bottom:5px;padding-right:5px;padding-left:5px;border-width:1px;border-style:solid;border-color:rgb(158, 158, 158);border-radius:5px;text-align:center;" ><%= rfp.nombre %></p>
                                </th>
                              </tr>
                            </table>
                          </th>
                          <th class="small-12 large-6 columns" style="color:#0a0a0a;font-family:Helvetica, Arial, sans-serif;font-weight:normal;padding-top:0;text-align:left;font-size:16px;line-height:1.3;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;Margin:0 auto;padding-bottom:16px;width:274px;padding-left:8px;padding-right:8px;" >
                            <table style="border-spacing:0;border-collapse:collapse;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                              <tr style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                                <th style="color:#0a0a0a;font-family:Helvetica, Arial, sans-serif;font-weight:normal;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;Margin:0;text-align:left;font-size:16px;line-height:1.3;" >
                                  <h5 class="text-center field-title" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-right:0;margin-left:0;Margin:0;line-height:1.3;word-wrap:normal;font-family:Helvetica, Arial, sans-serif;font-weight:normal;margin-bottom:10px;Margin-bottom:10px;color:rgb(96, 96, 96);font-size:1em;text-align:center;" ><b>Email</b></h5>
                                  <p class="text-center border-field" style="color:#0a0a0a;font-family:Helvetica, Arial, sans-serif;font-weight:normal;margin-top:0;margin-right:0;margin-left:0;Margin:0;font-size:16px;line-height:1.3;margin-bottom:10px;Margin-bottom:10px;box-sizing:border-box;padding-top:5px;padding-bottom:5px;padding-right:5px;padding-left:5px;border-width:1px;border-style:solid;border-color:rgb(158, 158, 158);border-radius:5px;text-align:center;" ><%= rfp.email %></p>
                                </th>
                              </tr>
                            </table>
                          </th>
                        </tr>
                      </tbody>
                    </table>
                    <table class="row" style="border-spacing:0;border-collapse:collapse;vertical-align:top;text-align:left;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;width:100%;position:relative;display:table;" >
                      <tbody>
                        <tr style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                          <th class="small-12 large-6 columns first" style="color:#0a0a0a;font-family:Helvetica, Arial, sans-serif;font-weight:normal;padding-top:0;text-align:left;font-size:16px;line-height:1.3;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;Margin:0 auto;padding-bottom:16px;width:274px;padding-left:8px;padding-right:8px;" >
                            <table style="border-spacing:0;border-collapse:collapse;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                              <tr style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                                <th style="color:#0a0a0a;font-family:Helvetica, Arial, sans-serif;font-weight:normal;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;Margin:0;text-align:left;font-size:16px;line-height:1.3;" >
                                  <h5 class="text-center field-title" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-right:0;margin-left:0;Margin:0;line-height:1.3;word-wrap:normal;font-family:Helvetica, Arial, sans-serif;font-weight:normal;margin-bottom:10px;Margin-bottom:10px;color:rgb(96, 96, 96);font-size:1em;text-align:center;" ><b>Teléfono</b></h5>
                                  <p class="text-center border-field" style="color:#0a0a0a;font-family:Helvetica, Arial, sans-serif;font-weight:normal;margin-top:0;margin-right:0;margin-left:0;Margin:0;font-size:16px;line-height:1.3;margin-bottom:10px;Margin-bottom:10px;box-sizing:border-box;padding-top:5px;padding-bottom:5px;padding-right:5px;padding-left:5px;border-width:1px;border-style:solid;border-color:rgb(158, 158, 158);border-radius:5px;text-align:center;" ><%= rfp.telefonoContacto %></p>
                                </th>
                              </tr>
                            </table>
                          </th>
                          <th class="small-12 large-6 columns" style="color:#0a0a0a;font-family:Helvetica, Arial, sans-serif;font-weight:normal;padding-top:0;text-align:left;font-size:16px;line-height:1.3;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;Margin:0 auto;padding-bottom:16px;width:274px;padding-left:8px;padding-right:8px;" >
                            <table style="border-spacing:0;border-collapse:collapse;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                              <tr style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                                <th style="color:#0a0a0a;font-family:Helvetica, Arial, sans-serif;font-weight:normal;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;Margin:0;text-align:left;font-size:16px;line-height:1.3;" >
                                  <h5 class="text-center field-title" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-right:0;margin-left:0;Margin:0;line-height:1.3;word-wrap:normal;font-family:Helvetica, Arial, sans-serif;font-weight:normal;margin-bottom:10px;Margin-bottom:10px;color:rgb(96, 96, 96);font-size:1em;text-align:center;" ><b>Empresa</b></h5>
                                  <p class="text-center border-field" style="color:#0a0a0a;font-family:Helvetica, Arial, sans-serif;font-weight:normal;margin-top:0;margin-right:0;margin-left:0;Margin:0;font-size:16px;line-height:1.3;margin-bottom:10px;Margin-bottom:10px;box-sizing:border-box;padding-top:5px;padding-bottom:5px;padding-right:5px;padding-left:5px;border-width:1px;border-style:solid;border-color:rgb(158, 158, 158);border-radius:5px;text-align:center;" ><%= rfp.empresa %></p>
                                </th>
                              </tr>
                            </table>
                          </th>
                        </tr>
                      </tbody>
                    </table>
                    <table class="row" style="border-spacing:0;border-collapse:collapse;vertical-align:top;text-align:left;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;width:100%;position:relative;display:table;" >
                      <tbody>
                        <tr style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                          <th class="small-12 large-6 columns first" style="color:#0a0a0a;font-family:Helvetica, Arial, sans-serif;font-weight:normal;padding-top:0;text-align:left;font-size:16px;line-height:1.3;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;Margin:0 auto;padding-bottom:16px;width:274px;padding-left:8px;padding-right:8px;" >
                            <table style="border-spacing:0;border-collapse:collapse;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                              <tr style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                                <th style="color:#0a0a0a;font-family:Helvetica, Arial, sans-serif;font-weight:normal;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;Margin:0;text-align:left;font-size:16px;line-height:1.3;" >
                                  <h5 class="text-center field-title" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-right:0;margin-left:0;Margin:0;line-height:1.3;word-wrap:normal;font-family:Helvetica, Arial, sans-serif;font-weight:normal;margin-bottom:10px;Margin-bottom:10px;color:rgb(96, 96, 96);font-size:1em;text-align:center;" ><b>Cargo</b></h5>
                                  <p class="text-center border-field" style="color:#0a0a0a;font-family:Helvetica, Arial, sans-serif;font-weight:normal;margin-top:0;margin-right:0;margin-left:0;Margin:0;font-size:16px;line-height:1.3;margin-bottom:10px;Margin-bottom:10px;box-sizing:border-box;padding-top:5px;padding-bottom:5px;padding-right:5px;padding-left:5px;border-width:1px;border-style:solid;border-color:rgb(158, 158, 158);border-radius:5px;text-align:center;" ><%= rfp.puesto %></p>
                                </th>
                              </tr>
                            </table>
                          </th>
                          <th class="small-12 large-6 columns" style="color:#0a0a0a;font-family:Helvetica, Arial, sans-serif;font-weight:normal;padding-top:0;text-align:left;font-size:16px;line-height:1.3;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;Margin:0 auto;padding-bottom:16px;width:274px;padding-left:8px;padding-right:8px;" >
                            <table style="border-spacing:0;border-collapse:collapse;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                              <tr style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                                <th style="color:#0a0a0a;font-family:Helvetica, Arial, sans-serif;font-weight:normal;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;Margin:0;text-align:left;font-size:16px;line-height:1.3;" >
                                  <h5 class="text-center field-title" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-right:0;margin-left:0;Margin:0;line-height:1.3;word-wrap:normal;font-family:Helvetica, Arial, sans-serif;font-weight:normal;margin-bottom:10px;Margin-bottom:10px;color:rgb(96, 96, 96);font-size:1em;text-align:center;" ><b>País</b></h5>
                                  <p class="text-center border-field" style="color:#0a0a0a;font-family:Helvetica, Arial, sans-serif;font-weight:normal;margin-top:0;margin-right:0;margin-left:0;Margin:0;font-size:16px;line-height:1.3;margin-bottom:10px;Margin-bottom:10px;box-sizing:border-box;padding-top:5px;padding-bottom:5px;padding-right:5px;padding-left:5px;border-width:1px;border-style:solid;border-color:rgb(158, 158, 158);border-radius:5px;text-align:center;" ><%= rfp.paisText %></p>
                                </th>
                              </tr>
                            </table>
                          </th>
                        </tr>
                      </tbody>
                    </table>
                    <table class="row" style="border-spacing:0;border-collapse:collapse;vertical-align:top;text-align:left;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;width:100%;position:relative;display:table;" >
                      <tbody>
                        <tr style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                          <th class="small-12 large-6 columns first" style="color:#0a0a0a;font-family:Helvetica, Arial, sans-serif;font-weight:normal;padding-top:0;text-align:left;font-size:16px;line-height:1.3;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;Margin:0 auto;padding-bottom:16px;width:274px;padding-left:8px;padding-right:8px;" >
                            <table style="border-spacing:0;border-collapse:collapse;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                              <tr style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                                <th style="color:#0a0a0a;font-family:Helvetica, Arial, sans-serif;font-weight:normal;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;Margin:0;text-align:left;font-size:16px;line-height:1.3;" >
                                  <h5 class="text-center field-title" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-right:0;margin-left:0;Margin:0;line-height:1.3;word-wrap:normal;font-family:Helvetica, Arial, sans-serif;font-weight:normal;margin-bottom:10px;Margin-bottom:10px;color:rgb(96, 96, 96);font-size:1em;text-align:center;" ><b>Estado</b></h5>
                                  <p class="text-center border-field" style="color:#0a0a0a;font-family:Helvetica, Arial, sans-serif;font-weight:normal;margin-top:0;margin-right:0;margin-left:0;Margin:0;font-size:16px;line-height:1.3;margin-bottom:10px;Margin-bottom:10px;box-sizing:border-box;padding-top:5px;padding-bottom:5px;padding-right:5px;padding-left:5px;border-width:1px;border-style:solid;border-color:rgb(158, 158, 158);border-radius:5px;text-align:center;" ><%= rfp.estadoText %></p>
                                </th>
                              </tr>
                            </table>
                          </th>
                          <th class="small-12 large-6 columns" style="color:#0a0a0a;font-family:Helvetica, Arial, sans-serif;font-weight:normal;padding-top:0;text-align:left;font-size:16px;line-height:1.3;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;Margin:0 auto;padding-bottom:16px;width:274px;padding-left:8px;padding-right:8px;" >
                            <table style="border-spacing:0;border-collapse:collapse;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                              <tr style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                                <th style="color:#0a0a0a;font-family:Helvetica, Arial, sans-serif;font-weight:normal;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;Margin:0;text-align:left;font-size:16px;line-height:1.3;" >
                                  <h5 class="text-center field-title" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-right:0;margin-left:0;Margin:0;line-height:1.3;word-wrap:normal;font-family:Helvetica, Arial, sans-serif;font-weight:normal;margin-bottom:10px;Margin-bottom:10px;color:rgb(96, 96, 96);font-size:1em;text-align:center;" ><b>Ciudad</b></h5>
                                  <p class="text-center border-field" style="color:#0a0a0a;font-family:Helvetica, Arial, sans-serif;font-weight:normal;margin-top:0;margin-right:0;margin-left:0;Margin:0;font-size:16px;line-height:1.3;margin-bottom:10px;Margin-bottom:10px;box-sizing:border-box;padding-top:5px;padding-bottom:5px;padding-right:5px;padding-left:5px;border-width:1px;border-style:solid;border-color:rgb(158, 158, 158);border-radius:5px;text-align:center;" ><%= rfp.ciudadText %></p>
                                </th>
                              </tr>
                            </table>
                          </th>
                        </tr>
                      </tbody>
                    </table>
                    <table class="row collapsed footer" style="border-spacing:0;border-collapse:collapse;vertical-align:top;text-align:left;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;width:100%;position:relative;display:table;" >
                      <tbody>
                        <tr style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                          <th class="small-12 large-12 columns first last" style="color:#0a0a0a;font-family:Helvetica, Arial, sans-serif;font-weight:normal;padding-top:0;text-align:left;font-size:16px;line-height:1.3;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;Margin:0 auto;padding-bottom:16px;width:564px;padding-left:8px;padding-right:8px;" >
                            <table style="border-spacing:0;border-collapse:collapse;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                              <tr style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                                <th style="color:#0a0a0a;font-family:Helvetica, Arial, sans-serif;font-weight:normal;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;Margin:0;text-align:left;font-size:16px;line-height:1.3;" >
                                  <table class="spacer" style="border-spacing:0;border-collapse:collapse;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;width:100%;" >
                                    <tbody>
                                      <tr style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                                        <td height="16px" style="font-size:16px;line-height:16px;word-wrap:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;border-collapse:collapse !important;vertical-align:top;color:#0a0a0a;font-family:Helvetica, Arial, sans-serif;font-weight:normal;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;Margin:0;text-align:left;mso-line-height-rule:exactly;" >&#xA0;</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <p class="text-center" style="color:#0a0a0a;font-family:Helvetica, Arial, sans-serif;font-weight:normal;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-right:0;margin-left:0;Margin:0;font-size:16px;line-height:1.3;margin-bottom:10px;Margin-bottom:10px;text-align:center;" ></p>
                                  <center data-parsed="" style="width:100%;min-width:532px;" >
                                    <table align="center" class="menu float-center" style="border-spacing:0;border-collapse:collapse;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;Margin:0 auto;float:none;text-align:center;width:580px;" >
                                      <tr style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                                        <td style="word-wrap:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;border-collapse:collapse !important;vertical-align:top;color:#0a0a0a;font-family:Helvetica, Arial, sans-serif;font-weight:normal;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;Margin:0;text-align:left;font-size:16px;line-height:1.3;" >
                                          <table style="border-spacing:0;border-collapse:collapse;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                                            <tr style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                                              <th class="menu-item float-center" style="color:#0a0a0a;font-family:Helvetica, Arial, sans-serif;font-weight:normal;font-size:16px;line-height:1.3;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;Margin:0 auto;float:none;text-align:center;padding-top:10px;padding-bottom:10px;padding-right:10px;padding-left:10px;" >
                                                <!-- <a href="http://yoplanner.com/" style="font-family:Helvetica, Arial, sans-serif;font-weight:normal;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;Margin:0;text-align:left;line-height:1.3;text-decoration:none;color:#2199e8;" ><img src="http://yoplanner.com/image/a.jpg" alt="" style="outline-style:none;text-decoration:none;-ms-interpolation-mode:bicubic;width:auto;max-width:100%;clear:both;display:block;border-style:none;" ></a> -->
                                                <span style="color:rgb(93, 93, 93);font-size:10px;" >Powered by </span> <a href="http://yoplanner.com/" style="font-family:Helvetica, Arial, sans-serif;font-weight:normal;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;Margin:0;text-align:left;line-height:1.3;text-decoration:none;color:#2199e8;" ><img src="http://i.imgur.com/Ro4DvgE.jpg" style="width:102px;height:32px;outline-style:none;text-decoration:none;-ms-interpolation-mode:bicubic;max-width:100%;clear:both;display:block;border-style:none;" ></a>
                                              </th>
                                            </tr>
                                          </table>
                                        </td>
                                      </tr>
                                    </table>
                                  </center>
                                </th>
                                <th class="expander" style="color:#0a0a0a;font-family:Helvetica, Arial, sans-serif;font-weight:normal;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;Margin:0;text-align:left;font-size:16px;line-height:1.3;visibility:hidden;width:0;padding-top:0 !important;padding-bottom:0 !important;padding-right:0 !important;padding-left:0 !important;" ></th>
                              </tr>
                            </table>
                          </th>
                        </tr>
                      </tbody>
                    </table>
                    <table class="spacer" style="border-spacing:0;border-collapse:collapse;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;width:100%;" >
                      <tbody>
                        <tr style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                          <td height="16px" style="font-size:16px;line-height:16px;word-wrap:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;border-collapse:collapse !important;vertical-align:top;color:#0a0a0a;font-family:Helvetica, Arial, sans-serif;font-weight:normal;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;Margin:0;text-align:left;mso-line-height-rule:exactly;" >&#xA0;</td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </center>
        </td>
      </tr>
    </table>
  </body>

</html>
