<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- If you delete this meta tag, Half Life 3 will never be released. -->
<meta name="viewport" content="width=device-width" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>YoPlanner</title>
<style>
/* -------------------------------------
		GLOBAL
------------------------------------- */
* {
	margin:0;
	padding:0;
}
table { font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; }

img {
	max-width: 100%;
}
.collapse {
	margin:0;
	padding:0;
}
body {
	-webkit-font-smoothing:antialiased;
	-webkit-text-size-adjust:none;
	width: 100%!important;
	height: 100%;
}


/* -------------------------------------
		ELEMENTS
------------------------------------- */
a { color: #2BA6CB;}

.btn {
	text-decoration:none;
	color: #FFF;
	background-color: #666;
	padding:10px 16px;
	font-weight:bold;
	margin-right:10px;
	text-align:center;
	cursor:pointer;
	display: inline-block;
}

p.callout {
	padding:15px;
	background-color:#ECF8FF;
	margin-bottom: 15px;
}
.callout a {
	font-weight:bold;
	color: #2BA6CB;
}

table.social {
/* 	padding:15px; */
	background-color: #ebebeb;

}
.social .soc-btn {
	padding: 3px 7px;
	font-size:12px;
	margin-bottom:10px;
	text-decoration:none;
	color: #FFF;font-weight:bold;
	display:block;
	text-align:center;
}
a.fb { background-color: #3B5998!important; }
a.tw { background-color: #1daced!important; }
a.gp { background-color: #DB4A39!important; }
a.ms { background-color: #000!important; }

.sidebar .soc-btn {
	display:block;
	width:100%;
}

/* -------------------------------------
		HEADER
------------------------------------- */
table.head-wrap { width: 100%;}

.header.container table td.logo { padding: 15px; }
.header.container table td.label { padding: 15px; padding-left:0px;}


/* -------------------------------------
		BODY
------------------------------------- */
table.body-wrap { width: 100%;}


/* -------------------------------------
		FOOTER
------------------------------------- */
table.footer-wrap { width: 100%;	clear:both!important;
}
.footer-wrap .container td.content  p { border-top: 1px solid rgb(215,215,215); padding-top:15px;}
.footer-wrap .container td.content p {
	font-size:10px;
	font-weight: bold;

}


/* -------------------------------------
		TYPOGRAPHY
------------------------------------- */
h1,h2,h3,h4,h5,h6 {
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; line-height: 1.1; margin-bottom:15px; color:#000;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small { font-size: 60%; color: #6f6f6f; line-height: 0; text-transform: none; }

h1 { font-weight:200; font-size: 44px;}
h2 { font-weight:200; font-size: 37px;}
h3 { font-weight:500; font-size: 27px;}
h4 { font-weight:500; font-size: 23px;}
h5 { font-weight:900; font-size: 17px;}
h6 { font-weight:900; font-size: 14px; text-transform: uppercase; color:#444;}

.collapse { margin:0!important;}

p, ul {
	margin-bottom: 10px;
	font-weight: normal;
	font-size:14px;
	line-height:1.6;
}
p.lead { font-size:17px; }
p.last { margin-bottom:0px;}

ul li {
	margin-left:5px;
	list-style-position: inside;
}

/* -------------------------------------
		SIDEBAR
------------------------------------- */
ul.sidebar {
	background:#ebebeb;
	display:block;
	list-style-type: none;
}
ul.sidebar li { display: block; margin:0;}
ul.sidebar li a {
	text-decoration:none;
	color: #666;
	padding:10px 16px;
/* 	font-weight:bold; */
	margin-right:10px;
/* 	text-align:center; */
	cursor:pointer;
	border-bottom: 1px solid #777777;
	border-top: 1px solid #FFFFFF;
	display:block;
	margin:0;
}
ul.sidebar li a.last { border-bottom-width:0px;}
ul.sidebar li a h1,ul.sidebar li a h2,ul.sidebar li a h3,ul.sidebar li a h4,ul.sidebar li a h5,ul.sidebar li a h6,ul.sidebar li a p { margin-bottom:0!important;}



/* ---------------------------------------------------
		RESPONSIVENESS
		Nuke it from orbit. It's the only way to be sure.
------------------------------------------------------ */

/* Set a max-width, and make it display as block so it will automatically stretch to that width, but will also shrink down on a phone or something */
.container {
	display:block!important;
	max-width:600px!important;
	margin:0 auto!important; /* makes it centered */
	clear:both!important;
}

/* This should also be a block element, so that it will fill 100% of the .container */
.content {
	padding:15px;
	max-width:600px;
	margin:0 auto;
	display:block;
}

/* Let's make sure tables in the content area are 100% wide */
.content table { width: 100%; }


/* Odds and ends */
.column {
	width: 300px;
	float:left;
}
.column tr td { padding: 15px; }
.column-wrap {
	padding:0!important;
	margin:0 auto;
	max-width:600px!important;
}
.column table { width:100%;}
.social .column {
	width: 280px;
	min-width: 279px;
	float:left;
}

/* Be sure to place a .clear element after each set of columns, just to be safe */
.clear { display: block; clear: both; }


/* -------------------------------------------
		PHONE
		For clients that support media queries.
		Nothing fancy.
-------------------------------------------- */
@media only screen and (max-width: 600px) {

	a[class="btn"] { display:block!important; margin-bottom:10px!important; background-image:none!important; margin-right:0!important;}

	div[class="column"] { width: auto!important; float:none!important;}

	table.social div[class="column"] {
		width:auto!important;
	}

}
</style>
</head>

<body bgcolor="#FFFFFF">

<!-- HEADER -->
<table class="head-wrap" bgcolor="#005B8A">
	<tr>
		<td></td>
		<td class="header container" >

				<div class="content">
				<table bgcolor="#005B8A">
					<tr>
						<td><br><br></td>
					</tr>
				</table>
				</div>

		</td>
		<td></td>
	</tr>
</table><!-- /HEADER -->
<table class="head-wrap" bgcolor="#D5E000">
	<tr>
		<td></td>
		<td class="header container" >

				<div class="content">
				<table bgcolor="#D5E000">
					<tr>
						<td></td>
					</tr>
				</table>
				</div>

		</td>
		<td></td>
	</tr>
</table>

<!-- BODY -->
<table class="body-wrap">
	<tr>
		<td></td>
		<td class="container" bgcolor="#FFFFFF">

			<div class="content">
			<table>
				<!-- Imagen -->
				<tr>
					<td>
						<img src="http://admin.yoplanner.com/assets/images/logoland.png" alt="logo" style="margin: 1em;width:90%;" />
					</td>
				</tr>
				<!-- Header -->
				<tr>
					<td>
						<h3 style="color:rgb(85, 85, 85)">Solicitud de <strong>COTIZACIÓN</strong></h3>
					</td>
				</tr>
				<!-- Dots -->
				<tr>
					<td>
						<div style="background-color: #D3E203;display: inline-block;width: 60%;text-align: center;color: white;font-size: 2em;padding: 0.5em;margin:1em;border-radius:5px;">
			        Datos del <strong>GRUPO</strong>
			      </div>
					</td>
				</tr>
				<!-- Componente -->
				<tr>
					<td style="width: 33%;">
						<div>
			        <strong>Nombre</strong><br>
			        <div style="margin: 1em;border-radius: 5px;border: thin solid rgb(181, 181, 181);padding: 0.5em;"><%= rfp.nombre %></div>
			      </div>
					</td>
					<td style="width: 33%;">
						<div>
			        <strong>Fecha de entrada</strong><br>
			        <div style="margin: 1em;border-radius: 5px;border: thin solid rgb(181, 181, 181);padding: 0.5em;"><%= moment(rfp.fechaInicial).format('DD/MM/YYYY') %></div>
			      </div>
					</td>
					<td style="width: 33%;">
						<div>
			        <strong>Fecha de salida</strong><br>
			        <div style="margin: 1em;border-radius: 5px;border: thin solid rgb(181, 181, 181);padding: 0.5em;"><%= moment(rfp.fechaFinal).format('DD/MM/YYYY') %></div>
			      </div>
					</td>
				</tr>
				<!-- Comp -->
				<!-- Componente -->
				<tr>

				</tr>
				<!-- Comp -->
				<!-- Componente -->
				<tr>
					<td>
						<div style="width: 100%;">
			        <strong>Asistentes</strong><br>
			        <div style="margin: 1em;border-radius: 5px;border: thin solid rgb(181, 181, 181);padding: 0.5em;"><%= rfp.asistenciaEsperada %></div>
			      </div>
					</td>
				</tr>
				<!-- Comp -->
				<!-- Componente -->
				<tr>
					<td>
						<div style="width: 100%;">
			        <strong>Hab. Sencillas</strong><br>
			        <div style="margin: 1em;border-radius: 5px;border: thin solid rgb(181, 181, 181);padding: 0.5em;">
                <% for (var i = 0; i < rfp.configuracionHabitaciones.length; i++) {
                    if (rfp.configuracionHabitaciones[i].tipoHabitacion == 1) { %>
                      <p><%= moment(rfp.configuracionHabitaciones[i].fecha).format('DD/MM') %> | <%= rfp.configuracionHabitaciones[i].habitaciones %></p>
                  <% }
                  } %>
              </div>
			      </div>
					</td>
				</tr>
				<!-- Comp -->
        <!-- Componente -->
				<tr>
					<td>
						<div style="width: 100%;">
			        <strong>Hab. Dobles</strong><br>
			        <div style="margin: 1em;border-radius: 5px;border: thin solid rgb(181, 181, 181);padding: 0.5em;">
                <% for (var i = 0; i < rfp.configuracionHabitaciones.length; i++) {
                    if (rfp.configuracionHabitaciones[i].tipoHabitacion == 2) { %>
                      <p><%= moment(rfp.configuracionHabitaciones[i].fecha).format('DD/MM') %> | <%= rfp.configuracionHabitaciones[i].habitaciones %></p>
                  <% }
                  } %>
              </div>
			      </div>
					</td>
				</tr>
				<!-- Comp -->
				<!-- Componente -->
				<tr>
					<td>
						<div style="width: 100%;">
			        <strong>Comentarios</strong><br>
			        <div style="margin: 1em;border-radius: 5px;border: thin solid rgb(181, 181, 181);padding: 0.5em;"><%= rfp.comentarios %></div>
			      </div>
					</td>
				</tr>
				<!-- Comp -->
				<!-- Dots -->
				<tr>
					<td>
						<div style="background-color: #D3E203;display: inline-block;width: 60%;text-align: center;color: white;font-size: 2em;padding: 0.5em;margin:1em;border-radius:5px;">
			        <strong>EVENTOS</strong>
			      </div>
					</td>
				</tr>
        <!-- FOR EVENTOS -->
        <% for (var i = 0; i < rfp.salones.length; i++) { %>
          <!-- EVENTO -->
  				<tr>
  					<td>
  						<div style="width: 100%;">
  			        <strong>Nombre del evento</strong><br>
  			        <div style="margin: 1em;border-radius: 5px;border: thin solid rgb(181, 181, 181);padding: 0.5em;"><%= rfp.salones[i].nombreEvento %></div>
  			      </div>
  					</td>
  				</tr>
  				<tr>
  					<td>
  						<div style="width: 100%;">
  			        <strong>Fecha</strong><br>
  			        <div style="margin: 1em;border-radius: 5px;border: thin solid rgb(181, 181, 181);padding: 0.5em;"><%= moment(rfp.salones[i].nombreEvento).format('DD/MM/YYYY') %></div>
  			      </div>
  					</td>
  				</tr>
  				<tr>
  					<td>
  						<div style="width: 100%;">
  			        <strong>Hora Inicio</strong><br>
  			        <div style="margin: 1em;border-radius: 5px;border: thin solid rgb(181, 181, 181);padding: 0.5em;"><%= rfp.salones[i].horaInicio %></div>
  			      </div>
  					</td>
  				</tr>
  				<tr>
  					<td>
  						<div style="width: 100%;">
  			        <strong>Hora fin</strong><br>
  			        <div style="margin: 1em;border-radius: 5px;border: thin solid rgb(181, 181, 181);padding: 0.5em;"><%= rfp.salones[i].horaFin %></div>
  			      </div>
  					</td>
  				</tr>
  				<tr>
  					<td>
  						<div style="width: 100%;">
  			        <strong>Tipo Evento</strong><br>
  			        <div style="margin: 1em;border-radius: 5px;border: thin solid rgb(181, 181, 181);padding: 0.5em;">
									<% if (rfp.salones[i].tipoEvento == 1) { %>
										<span>Desayuno</span>
									<% }
									if (rfp.salones[i].tipoEvento == 2) { %>
										<span>Comida</span>
									<% }
									if (rfp.salones[i].tipoEvento == 3) { %>
										<span>Cena</span>
									<% }
									if (rfp.salones[i].tipoEvento == 4) { %>
										<span>Cocktail</span>
									<% }
									if (rfp.salones[i].tipoEvento == 5) { %>
										<span>Sesión</span>
									<% }
									if (rfp.salones[i].tipoEvento == 6) { %>
										<span>Breakout</span>
									<% }
									if (rfp.salones[i].tipoEvento == 7) { %>
										<span>Oficina</span>
									<% }
									if (rfp.salones[i].tipoEvento == 8) { %>
										<span>Bodega</span>
									<% }
									if (rfp.salones[i].tipoEvento == 9) { %>
										<span>Otro</span>
									<% } %>
                </div>
  			      </div>
  					</td>
  				</tr>
  				<tr>
  					<td>
  						<div style="width: 100%;">
  			        <strong>Montaje</strong><br>
  			        <div style="margin: 1em;border-radius: 5px;border: thin solid rgb(181, 181, 181);padding: 0.5em;">
									<% if (rfp.salones[i].tipoSalon == 1) { %>
										<span>Auditorios</span>
									<% }
									if (rfp.salones[i].tipoSalon == 2) { %>
										<span>Banquete</span>
									<% }
									if (rfp.salones[i].tipoSalon == 3) { %>
										<span>Coctel</span>
									<% }
									if (rfp.salones[i].tipoSalon == 4) { %>
										<span>Escuela</span>
									<% }
									if (rfp.salones[i].tipoSalon == 5) { %>
										<span>Herradura</span>
									<% }
									if (rfp.salones[i].tipoSalon == 6) { %>
										<span>Imperial</span>
									<% }
									if (rfp.salones[i].tipoSalon == 7) { %>
										<span>Mesas Redondas</span>
									<% }
									if (rfp.salones[i].tipoSalon == 8) { %>
										<span>Medias Lunas</span>
									<% }
									if (rfp.salones[i].tipoSalon == 9) { %>
										<span>Otro</span>
									<% } %>
                </div>
  			      </div>
  					</td>
  				</tr>
  				<tr>
  					<td>
  						<div style="width: 100%;">
  			        <strong>Comentarios adicionales</strong><br>
  			        <div style="margin: 1em;border-radius: 5px;border: thin solid rgb(181, 181, 181);padding: 0.5em;"><%= rfp.salones[i].comentarios %></div>
  			      </div>
  					</td>
  				</tr>
  				<!-- /EVENTO -->
        <% } %>
        <!-- SELECCION DE HOTELES -->
        <!-- Dots -->
				<tr>
					<td>
						<div style="background-color: #D3E203;display: inline-block;width: 60%;text-align: center;color: white;font-size: 2em;padding: 0.5em;margin:1em;border-radius:5px;">
			        Selección de <strong>HOTELES</strong>
			      </div>
					</td>
				</tr>
        <!-- FOR RECINTOS -->
        <% for (var i = 0; i < rfp.recintos.length; i++) { %>
          <!-- Componente -->
  				<tr>
  					<td>
  						<div style="width: 100%;">
  			        <strong>Hotel #</strong><br>
  			        <div style="margin: 1em;border-radius: 5px;border: thin solid rgb(181, 181, 181);padding: 0.5em;"><%= rfp.recintos[i].name %></div>
  			      </div>
  					</td>
  				</tr>
  				<!-- Comp -->
        <% } %>
				<!-- DATOS DE CONTACTO | Hotel:Planner | Planner:Customer | Customer:Planner-->
				<tr>
					<td>
						<div style="background-color: #D3E203;display: inline-block;width: 60%;text-align: center;color: white;font-size: 2em;padding: 0.5em;margin:1em;border-radius:5px;">
			        Datos del <strong>CLIENTE</strong>
			      </div>
					</td>
				</tr>
				<tr>
					<td>
						<div style="width: 100%;">
			        <strong>Nombre</strong><br>
			        <div style="margin: 1em;border-radius: 5px;border: thin solid rgb(181, 181, 181);padding: 0.5em;"><%= rfp.nombre %></div>
			      </div>
					</td>
				</tr>
				<tr>
					<td>
						<div style="width: 100%;">
			        <strong>Email</strong><br>
			        <div style="margin: 1em;border-radius: 5px;border: thin solid rgb(181, 181, 181);padding: 0.5em;"><%= rfp.email %></div>
			      </div>
					</td>
				</tr>
				<tr>
					<td>
						<div style="width: 100%;">
			        <strong>Teléfono</strong><br>
			        <div style="margin: 1em;border-radius: 5px;border: thin solid rgb(181, 181, 181);padding: 0.5em;"><%= rfp.telefonoContacto %></div>
			      </div>
					</td>
				</tr>
				<tr>
					<td>
						<div style="width: 100%;">
			        <strong>Empresa</strong><br>
			        <div style="margin: 1em;border-radius: 5px;border: thin solid rgb(181, 181, 181);padding: 0.5em;"><%= rfp.empresa %></div>
			      </div>
					</td>
				</tr>
				<tr>
					<td>
						<div style="width: 100%;">
			        <strong>Cargo</strong><br>
			        <div style="margin: 1em;border-radius: 5px;border: thin solid rgb(181, 181, 181);padding: 0.5em;"><%= rfp.puesto %></div>
			      </div>
					</td>
				</tr>
				<tr>
					<td>
						<div style="width: 100%;">
			        <strong>País</strong><br>
			        <div style="margin: 1em;border-radius: 5px;border: thin solid rgb(181, 181, 181);padding: 0.5em;"><%= rfp.paisText %></div>
			      </div>
					</td>
				</tr>
				<tr>
					<td>
						<div style="width: 100%;">
			        <strong>Estado</strong><br>
			        <div style="margin: 1em;border-radius: 5px;border: thin solid rgb(181, 181, 181);padding: 0.5em;"><%= rfp.estadoText %></div>
			      </div>
					</td>
				</tr>
        <tr>
					<td>
						<div style="width: 100%;">
			        <strong>Ciudad</strong><br>
			        <div style="margin: 1em;border-radius: 5px;border: thin solid rgb(181, 181, 181);padding: 0.5em;"><%= rfp.ciudadText %></div>
			      </div>
					</td>
				</tr>
				<!-- /DATOS DE CONTACTO -->
			</table>
			</div>

		</td>
		<td></td>
	</tr>
</table><!-- /BODY -->

<!-- FOOTER -->
<table class="footer-wrap">
	<tr>
		<td></td>
		<td class="container">

				<!-- content -->
				<div class="content">
				<table>
				<tr>
					<td align="center">
						<p>
              © Powered by YoPlanner
						</p>
					</td>
				</tr>
			</table>
				</div><!-- /content -->

		</td>
		<td></td>
	</tr>
</table><!-- /FOOTER -->

</body>
</html>
